.root {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}

.scriptName {
    font-size: 24px;
    -unity-font-style: bold;
    padding: 16px 0;
    -unity-text-align: middle-center;
}

.container > * {
    padding-bottom: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
